target: all

server:
  http_listen_port: 4040
  grpc_listen_port: 4041
  log_level: info
  http_path_prefix: /pyroscope

storage:
  backend: s3
  s3:
    bucket_name: ${PYROSCOPE_S3_BUCKET}
    endpoint: s3.${AWS_REGION}.amazonaws.com
    region: ${AWS_REGION}
    insecure: false

pyroscopedb:
  data_path: /data
  max_block_duration: 1h

ingester:
  lifecycler:
    ring:
      replication_factor: 1

compactor:
  deletion_delay: 12h

limits:
  compactor_blocks_retention_period: 720h
