##############################################################################
# Mimir 2.16.0 ECS Fargate 설정
# 기존 EC2 docker-compose 설정 기반 + Fargate 최적화
##############################################################################

##############################################################################
# 1) 공통 S3 백엔드 설정
##############################################################################
common:
  storage:
    backend: s3
    s3:
      endpoint: s3.ap-northeast-2.amazonaws.com
      region: ap-northeast-2
      bucket_name: ${MIMIR_S3_BUCKET}

##############################################################################
# 2) 테넌트별 제한 설정
##############################################################################
limits:
  # 데이터 보존 정책
  compactor_blocks_retention_period: 1y

  # 순서 관련 설정
  out_of_order_time_window: 10m

  # 수집 제한 (테넌트별)
  ingestion_rate: 100000
  ingestion_burst_size: 500000
  max_global_series_per_user: 2000000
  max_global_series_per_metric: 300000
  max_global_metadata_per_user: 100000
  max_global_metadata_per_metric: 10000

  # 쿼리 제한
  max_total_query_length: 12000h
  max_partial_query_length: 744h
  max_query_parallelism: 32

  # 라벨 제한
  max_label_name_length: 1024
  max_label_value_length: 4096
  max_label_names_per_series: 30

##############################################################################
# 3) Memberlist 클러스터링 (ECS Fargate)
##############################################################################
memberlist:
  # Fargate 1.4.0+ 에서는 eth1 사용
  bind_addr: "0.0.0.0"
  bind_port: 7946
  # CloudMap Service Discovery로 join
  join_members:
    - "mimir.lgtm.local:7946"

##############################################################################
# 4) 블록 스토리지 (S3)
##############################################################################
blocks_storage:
  backend: s3
  storage_prefix: blocks
  s3:
    bucket_name: ${MIMIR_S3_BUCKET}

  tsdb:
    retention_period: 48h

##############################################################################
# 5) 분산 처리 및 샤딩
##############################################################################
distributor:
  ring:
    heartbeat_period: 5s
    heartbeat_timeout: 1m

  ha_tracker:
    enable_ha_tracker: false

  remote_timeout: 2s

##############################################################################
# 6) Ingester 설정
##############################################################################
ingester:
  ring:
    heartbeat_period: 5s
    heartbeat_timeout: 1m
    final_sleep: 0s

##############################################################################
# 7) Querier 설정
##############################################################################
querier:
  max_concurrent: 16
  timeout: 2m

##############################################################################
# 8) Compactor 설정
##############################################################################
compactor:
  cleanup_interval: 15m
  cleanup_concurrency: 1
  deletion_delay: 12h

##############################################################################
# 9) Ruler 스토리지 (알람 룰)
##############################################################################
ruler_storage:
  backend: s3
  storage_prefix: rules
  s3:
    bucket_name: ${MIMIR_S3_BUCKET}

##############################################################################
# 10) Alertmanager 스토리지
##############################################################################
alertmanager_storage:
  backend: s3
  storage_prefix: alerts
  s3:
    bucket_name: ${MIMIR_S3_BUCKET}

##############################################################################
# 11) 런타임 설정
##############################################################################
runtime_config:
  period: 10s
